<div class="container p-5 mt-10">
  <h1 class="uppercase text-2xl font-bold text-center text-red-900">
    Main Events
  </h1>

  <section class="py-6 dark:bg-gray-800 dark:text-gray-50">
    <div class="container grid grid-cols-2 gap-4 p-4 mx-auto md:grid-cols-4">
      <img
        src="https://c8.alamy.com/comp/ERPHDX/berlin-germany-6th-june-2015-players-of-fc-barcelona-celebrate-after-ERPHDX.jpg"
        alt=""
        class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-3 md:row-start-1 dark:bg-gray-500 aspect-square"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://i.ytimg.com/vi/vCNnjjN-2Zk/maxresdefault.jpg"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://cdn.wallpapersafari.com/5/90/tAUdhl.jpg"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://i.pinimg.com/736x/c6/2d/3e/c62d3ea5cf5e4ca005b63201f148e967.jpg"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://media.gettyimages.com/id/476138728/photo/berlin-germany-neymar-of-barcelona-celebrates-with-the-trophy-after-the-uefa-champions-league.jpg?s=612x612&w=gi&k=20&c=bwydAVn5P06uK8ozVoYKVoGUMDDWTsGy6KvEvN2PVS0="
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://www.chinadaily.com.cn/sports/images/attachement/jpg/site1/20151223/b083fe955fd817e4a2cf3c.jpg"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://s.hs-data.com/picmon/b7/nKC_begRu_l.jpg"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://pbs.twimg.com/media/Fvwmj19WYAIcmtk.jpg:large"
      />
      <img
        alt=""
        class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
        src="https://prod-media.beinsports.com/image/1683746233556_69245d20-2a2e-423e-b543-e343589e6674.jpg"
      />
      <img
        src="https://media.cnn.com/api/v1/images/stellar/prod/150606202024-barcelona-rakitic-juve.jpg?q=w_3858,h_2610,x_0,y_0,c_fill/h_778"
        alt=""
        class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-1 md:row-start-3 dark:bg-gray-500 aspect-square"
      />
    </div>
  </section>
</div>
