<div class="container mt-8 p-6 mb-10">
  <h1 class="uppercase text-2xl font-bold text-center">
    Major Trophies in 2014-15
  </h1>

  <p class="text-center text-slate-700 w-[800px] mx-auto p-8 font-semibold">
    Messi, Suárez and Neymar, dubbed "MSN", formed a record-breaking strike
    force. Barcelona won the treble in the 2014-15 season, winning La Liga, Copa
    del Rey and Champions League titles, and became the first European team to
    have won the treble twice
  </p>

  <div class="mt-6">
    <div class="shadow-2xl grid grid-cols-2">
      <div class="p-8">
        <img
          src="https://cdn.vox-cdn.com/thumbor/GDPuytHh--_7l1z449AkZNbTB5U=/71x0:4713x3095/1200x800/filters:focal(71x0:4713x3095)/cdn.vox-cdn.com/uploads/chorus_image/image/46498104/GettyImages-476138582.0.jpg"
          alt=""
          class="w-full h-96 rounded-lg"
        />
      </div>

      <div class="p-10 mx-14">
        <h1 class="font-bold text-xl uppercase p-3">champions league 2015</h1>
        <p class="p-3 mt-3 text-pretty text-sm text-slate-600">
          The 2015 UEFA Champions League final was the final match of the
          2014-15 UEFA Champions League, the 60th season of Europe's premier
          club football tournament organised by UEFA, and the 23rd season since
          it was renamed from the European Champion Clubs' Cup to the UEFA
          Champions League. It was played at the Olympiastadion in Berlin,
          Germany, on 6 June 2015, between Italian side Juventus and Spanish
          side Barcelona. It was also Juventus' sixth defeat in a European Cup
          final, the most by any club, a record they previously shared with
          Bayern Munich and Benfica. As winners, Barcelona earned the right to
          play against the winners of the 2014-15 UEFA Europa League, Sevilla,
          in the 2015 UEFA Super Cup, and won that match 5-4. They also
          qualified to enter the 2015 FIFA Club World Cup in Japan as the UEFA
          representative, going on to beat Argentina's River Plate in the final.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <div class="shadow-2xl grid grid-cols-2">
      <div class="p-8">
        <img
          src="https://img.bleacherreport.net/img/images/photos/003/430/290/hi-res-21dd3296cfc64a4a2eb01abb4f691116_crop_north.jpg?1433798757&w=3072&h=2048"
          alt=""
          class="w-full h-96 rounded-lg"
        />
      </div>

      <div class="p-10 mx-14">
        <h1 class="font-bold text-xl uppercase p-3">la liga 2015</h1>
        <p class="p-3 mt-3 text-sm text-slate-600">
          The 2015-16 La Liga football season (known as the Liga BBVA for
          sponsorship reasons) was the 85th since its establishment. Barcelona
          were the defending champions. It started on 21 August 2015 and
          concluded on 15 May 2016. Barcelona retained the title (their 24th
          Liga title) after beating Granada 3-0 on the final matchday.[2]
          Barcelona, Real Madrid and Atlético Madrid were engaged in an intense
          title race, with the three teams finishing with 91, 90 and 88 points
          respectively. Luis Suárez finished as top scorer, being the first
          player apart from Lionel Messi and Cristiano Ronaldo to do so since
          the 2008-09 season.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-6 ">
    <div class="shadow-2xl grid grid-cols-2">
      <div class="p-8">
        <img
          src="https://cdn.vox-cdn.com/thumbor/xCdCQaLS9JgvkbaOZM-W4dSiTDQ=/0x0:2992x1995/1200x800/filters:focal(0x0:2992x1995)/cdn.vox-cdn.com/uploads/chorus_image/image/46435280/GettyImages-475299572.0.jpg"
          alt=""
          class="w-full h-96 rounded-lg"
        />
      </div>

      <div class="p-10 mx-14">
        <h1 class="font-bold text-xl uppercase p-3">Copa del Rey 2015</h1>
        <p class="p-3 mt-3 text-pretty text-sm text-slate-600">
          The 2015 Copa del Rey final was an association football match on 30
          May 2015 to decide the winner of the 2014-15 Copa del Rey, the 113th
          edition of Spain's premier football cup since its establishment
          (including two seasons where two rival editions were played). It was
          played between Athletic Bilbao and Barcelona, at the Camp Nou, the
          latter club's home stadium. Barcelona won the match 3-1, achieving
          their record 27th title in the competition. Lionel Messi and Neymar
          gave Barcelona a 2-0 lead at half time. Although Athletic replied with
          a goal by Iñaki Williams, Messi scored another goal late on to confirm
          his team's victory and was named man of the match. This was the second
          part of Barcelona's treble, with the team going on to win the 2015
          UEFA Champions League final a week later. Messi's first goal, in which
          he ran past a number of opponents, was the runner-up in the FIFA
          Puskás Award for the year's best goal. Neymar was criticised for his
          showboating in the final minutes of the match, with Barcelona manager
          Luis Enrique excusing his Brazilian striker for cultural reasons. Both
          teams and the Royal Spanish Football Federation were given fines by
          the nation's government for security breaches and allowing separatist
          demonstrations at the match. As Barcelona won the 2014-15 La Liga,
          Athletic qualified automatically as the cup representative in the 2015
          Supercopa de España.
        </p>
      </div>
    </div>
  </div>
</div>
