<div class="container p-8">
  <h1 class="font-bold uppercase text-2xl text-center mt-5">
    Legendary Players
  </h1>

  <div class="shadow-md mt-8 h-auto p-10">
    <div class="grid grid-cols-5 space-x-3 space-y-3">
      <div class="border rounded p-3 ">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/MESSI.jpg"
          alt=""
          class=""
        />
        <p class="font-bold text-xl text-center mt-3">Lionel Messi</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/603_neymar.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Neymar Jr</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/INIESTA%202017-18.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Andrés Iniesta</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/949_xavi.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Xavi</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeeMbpBUafxBiqSRmS25jl5k0H55GDpHbeoYobe1RCww&s"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Gerard Piqué</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfDGR47T_1CKpifuu1ATV8Qyw0kgcnzaf4APgMOVlvvQ&s"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Jordi Alba</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIMVDnoB6h-MTJGP2cxlXniCNJpnvhb6V_TMOLFcGvt7SlE1rViwxC_3ePP8Yj3mNoTiE&usqp=CAU"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Sergio Busquets</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/31-Alves.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Daniel Alves da Silva</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/855_suarez_luis.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Luis Suárez</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/704_puyol.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Carles puyol</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/902_valdes_victor.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Victor Valdes</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/278_etoo.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Samuel Eto'o</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/763_ronaldinho.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Ronaldinho</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/764_ronaldo.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Ronaldo Luiz Nazario</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/501_maradona.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Diego Armando Maradona</p>
      </div>
      <div class="border rounded p-3">
        <img
          src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/213_cruyff.jpg"
          alt=""
          class="h-[300px]"
        />
        <p class="font-bold text-xl text-center mt-3">Johan Cruyff</p>
      </div>
    </div>
  </div>
</div>
