<footer class="p-8 bg-red-800">
	<div class="container grid grid-cols-2 mx-auto gap-x-3 gap-y-8 sm:grid-cols-3 md:grid-cols-4">
		<div class="flex flex-col space-y-4">
			<h2 class="font-medium text-white">Getting started</h2>
			<div class="flex flex-col space-y-2 text-sm dark:text-gray-400">
				<a rel="noopener noreferrer" href="#" class="text-white">Installation</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Release Notes</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Upgrade Guide</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Using with Preprocessors</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Optimizing for Production</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Browser Support</a>
				<a rel="noopener noreferrer" href="#" class="text-white">IntelliSense</a>
			</div>
		</div>
		<div class="flex flex-col space-y-4">
			<h2 class="font-medium text-white">Core Concepts</h2>
			<div class="flex flex-col space-y-2 text-sm dark:text-gray-400">
				<a rel="noopener noreferrer" href="#" class="text-white">Utility-First</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Responsive Design</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Hover, Focus, &amp; Other States</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Dark Mode</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Adding Base Styles</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Extracting Components</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Adding New Utilities</a>
			</div>
		</div>
		<div class="flex flex-col space-y-4">
			<h2 class="font-medium text-white">Customization</h2>
			<div class="flex flex-col space-y-2 text-sm dark:text-gray-400">
				<a rel="noopener noreferrer" href="#" class="text-white">Configuration</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Theme Configuration</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Breakpoints</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Customizing Colors</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Customizing Spacing</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Configuring Variants</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Plugins</a>
			</div>
		</div>
		<div class="flex flex-col space-y-4">
			<h2 class="font-medium text-white" >Community</h2>
			<div class="flex flex-col space-y-2 text-sm dark:text-gray-400">
				<a rel="noopener noreferrer" href="#" class="text-white">GitHub</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Discord</a>
				<a rel="noopener noreferrer" href="#" class="text-white">Twitter</a>
				<a rel="noopener noreferrer" href="#" class="text-white">YouTube</a>
			</div>
		</div>
	</div>
	<div class="flex items-center justify-center px-6 pt-12 text-sm">
		<span class="dark:text-gray-400 text-white">© Copyright 2015. All Rights Reserved.</span>
	</div>
</footer>